<<<<<<< HEAD

.input {
    width: 350px;
}

.box {
    width: auto;
=======
body{
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 5px;
    margin: 2px;
>>>>>>> d8e99ac65379aecae3238b012dfb5f177f184dd4
}