body {
  background-image: url("https://cdn.pixabay.com/photo/2017/01/20/15/06/orange-1995056_1280.jpg");
  background-size: cover;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}
 
ul{ 
  list-style-type: none;
  padding-left: 0;
}

li{ 
  font-size: 16px;
}
  .card {
    width: 100%;
    background-color: #ececec;
  }
 
  .data {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
  }
  
  a.action_link {
    text-decoration: none;
  }

  .resimg {
    float: left;
     margin-right: 15px; */

  }
  
  .rating {
    float: right;
    margin-right: 15px;
  }

  .input {
    width:auto;
  }

  .box {
    margin-top: 10px;
  }
